/* --color-dark: #343a40;
--color-light: #bdc1c6;
--color-brand: #6c757d; */

.searchWord{
  width: 600px;
  margin-left: 90px;
  margin-top: 30px;
  background-color: #505153;
  border-radius: 10px;
  height: 45px;
}

.searchWord:hover{
  background-color: #ffffff;
}

.sy-table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border-radius: 10px;
    color: white;
  }
  
  .sy-table td, .sy-table th {
    border: 1px solid #00000000;
    padding: 8px;
    text-align: center;
  }
  
  .sy-table tr:nth-child(even){background-color: #202124;}
  .sy-table tr:nth-child(odd){background-color: #2b2c2e;}
  
  .sy-table tr:hover {background-color: #333538;}
  
  .sy-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #505153;
    color: rgb(255, 255, 255);
  }

  .table-container{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    max-width: 90%;
  }

svg{
  margin-top: 2px;
  margin-left: auto;
  margin-right: auto;
}

.action-button{
  margin-top: auto;
  margin-left: auto;
  align-items: center;
  border-color: rgba(255, 255, 255, 0);
  background-color: #ffffff00;
  border-radius: 0px;
}

.btn-group{
  position: fixed;
}
.btn2{
  background-color: rgba(0, 255, 255, 0);
  border-top: #00563f00;
}

/* --color-dark: #343a40;
    --color-light: #bdc1c6;
    --color-brand: #6c757d; */

    .btn-group{
      right: 0;
      bottom: 0;
      margin-bottom: 15px;
      margin-right: 20px;
      position: fixed;
  }
  .btn1{
      height: 60px;
      border-radius: 50px;
      width: 80px;
      border-color: #ffffff00;
      background-color: #6c757d00;
      /* position: fixed; */
  }
  
  .btn1:hover{
      /* border-color: #00563f; */
      border: 2px;
      background-color: #00000000;
      /* color: black; */
  }
  
  i{
      background-color: #ffffff;
  }




  
  .td-input{
    padding-left: 10px;
    padding-bottom: 5px;
    width:30%;
    background-color: #20212400;
    border-width: 0px;
    border-color: rgb(231,208,253);
    color: white;
    
  }

  .td-input:enabled{
    color: black;
    background-color: #FFFFFF;
    outline: 1px solid rgb(90,24,154);

  }
  
  .dl-btn{
    width: 70px;
    border-radius: 30px;
  }

  .ed-btn{
    width: 70px;
    border-radius: 30px;
  }

  .pd-btn{
    background-color: rgb(90,24,154);
    color: #FFFFFF;
    width: 190px;
    border-radius: 30px;
    margin-right: 30px;
  }

  .heading{
    color: #ffffff;
    font-size: 30px;
    font-weight: 600;
    padding-left: 30px;
    padding-bottom: 10px;
  }

  .popup{
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color:transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
 
.popup-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 100px;
  background-color: #505153;
  border-radius: 10px;

}
.pop-btn{
  width: 70px;
  padding: 5px;
  border-radius: 18px;
  border: none;
  cursor: pointer;
}
.pop-heading{
  font-weight: 600;
  margin-bottom: 7px;
}

.pop-btn:focus{
  outline: none;
}
